/*===================================================
Project: techida | IT Solutions & Business Services HTML landing page template  
Author: ERRAMIX
====================================================*/



/* start global classes */
:root {

  /* body bg color */
  --bodyColor: #F8F6F4;

  /* box bg color */
  --boxColor: #eff0ef;

  /* black color  */
  --black:#000;

  /* dark brand color */
  --dark-brand-color: #202020;

  /* brand color */
  --brand-color: #1FA84F;

  /* Primary Text Color */
  --primaryColor: #404742;

  /* title 2 Color (subtitle-color) */
  --title-2-color: #292836;

  /* Secondary Text Color */
  --secendaryColor: #383838;

  /* border radius */
  --border-radius: 5px;

  /* card bg  */
  --card-bg:#fff;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--primaryColor);
  background-color: var(--bodyColor);
  text-align: left;
  text-transform: capitalize;
  position: relative;
  overflow-x: hidden;
}

body.home-rtl {
  font-family: 'Tajawal', sans-serif;
}


/* ========== srart dark-mode colors ============ */

body.dark-mode {
  --bodyColor: #151515;
  /* box bg color */
  --boxColor: #1E1E1E;

  /* Primary Text Color */
  --primaryColor: #e4e6e4;

  /* brand color */
  --brand-color: rgba(31, 168, 79, 0.87);

  /* Secondary Text Color */
  --secendaryColor: #bcbcbc;

  /* black color  */
  --black:#fff;


  /* title 2 Color (subtitle-color) */
  --title-2-color: #ebebeb;

  /* card bg  */
  --card-bg:#1E1E1E;

}

/* ========== end dark-mode colors ============ */

.switch-button {
  border-radius: 50%;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border: .5px solid var(--brand-color);
}

.btn-light-mode {
  background-color: var(--boxColor);
  color: var(--primaryColor);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  color: var(--bodyColor);
  background-color: var(--brand-color);
}

.title {
  color: var(--primaryColor);
  font-size: 40px;
  font-weight: bold;
  line-height: 54px;
  position: relative;
  text-transform: capitalize;
}

.title-2 {
  color: var(--title-2-color);
  font-size: 22px;
  font-weight: bold;
  position: relative;
  text-transform: capitalize;
}

.pretitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: var(--brand-color);
}

.unique-text {
  color: var(--brand-color);
}

.home-2 .heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

body.home-rtl .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  text-align: end;
}

body.home-rtl .heading>* {
  justify-self: end;
  text-align: end;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.box {
  background-color: var(--boxColor);
  padding: 20px;
  border-radius: var(--border-radius);
  position: relative;
  height: 100%;
  z-index: 1;
  transition: color 300ms ease-in-out;
}

.box.box-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--brand-color);
  transition: transform 400ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  color: #F3F3F3;
  border-radius: var(--border-radius);
}
.box p {
  color: var(--secendaryColor);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  padding-top: 4px;
}

.box.box-hover:hover:before,
.box.box-hover:focus:before {
  transform: scaleX(1);
}

.box.box-hover:hover,
.box.box-hover:focus,
.box.box-hover:hover a i,
.box.box-hover:hover .box-icon i,
.box.box-hover:hover>* {
  color: #F9F9F9;
}

.box.box-hover:hover>p {
  color: #def3de;
}

.home-rtl .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

/* start buttons style */
.btn,
.btn-sec {
  border: 1px solid var(--brand-color);
  background: var(--brand-color);
  color: #fff;
  font-weight: 800;
  border-radius: 40px;
  padding: 8px 25px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  letter-spacing: .5px;
  outline: none;
  font-weight: bold;
  transition: 0.8s all ease;
  cursor: pointer;
  z-index: 1;
}

.btn-sec {
  background-color: var(--boxColor);
  border: 1px solid var(--brand-color);
  color: var(--primaryColor);
}

.btn-sec:hover {
  color: var(--bodyColor);
}

.btn::before,
.btn-sec::before {
  background: var(--boxColor);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-sec::before {
  background: var(--brand-color);
}

.btn:hover::before,
.btn-sec:hover::before {
  height: 380%;
}

.learn-more {
  text-transform: capitalize;
  color: var(--brand-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.learn-more .bi {
  font-size: 25px;
}

/* end main button style */

@media (max-width: 768px) {
  .btn {
    padding: 6px 18px;
    font-size: 16px;
  }
  .title {
    font-size: 35px;
  }
  .title-2 {
    font-size: 18px;
  }
  .pretitle {
    font-size: 14px;
  }
  p {
    font-size: 14;
    line-height: 28;
  }
}
@media (max-width:576px){
  .title {
    font-size: 22px;
    line-height: 34px;
  }
}

p {
  color: var(--secendaryColor);
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ====== start breadcrumbs style========= */

.breadcrumbs {
  background: var(--dark-brand-color);
  min-height: 40px;
  margin-top: 82px;
  color: var(--bodyColor);
}
.breadcrumbs p {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 65px;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.breadcrumbs h2 {
  color: #eaf0ec;
}

.breadcrumbs ol a {
  color: #F8F6F4;
  transition: 0.3s;
}

.breadcrumbs p {
  color: #b6b6b6;
}

.breadcrumbs ol a:hover {
  color: var(--brand-color);
}

.breadcrumbs ol li+li {
  padding-left: 10px;
  color: #F9F9F9;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #F8F6F4;
  content: "/";
}

/* ====== end breadcrumbs style ========= */

/* end global classes */

/* ==== start  preloader style  ===== */


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bodyColor);
  z-index: 9999;
}

svg {
  width: 300px;
  visibility: hidden;
}


/* ==== end  preloader style  ===== */


/* ======== start scroll-to-top button style  =========== */

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 800;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
  display: grid;
  background-color: var(--bodyColor);
  place-items: center;
  font-size: 35px;
  color: var(--brand-color);
}

/* ======== end scroll-to-top button style  =========== */

/*================== start navbar section ==================*/
.navbar {
  z-index: 900;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none;
}
.navbar .navbar-nav {
  gap: 15px;
}
.navbar .logo-two,
.footer .logo-two {
  display: none;
}
/* body.dark-mode .navbar .logo-one, */
/* body.dark-mode .footer .logo-one{
  display: none;
} */
body.dark-mode .navbar .logo-one,
body.dark-mode .footer .logo-one {
  filter: brightness(100);
}

@media (max-width:991px){
  .nav-offcanvas {
    background-color: var(--bodyColor);
  }
}
@media (max-width: 990px) {
  .navbar {
    background-color: var(--boxColor);
  }

  .home-rtl .navbar #navbar {
    display: flex;
    flex-direction: column !important;
  }
}


.navbar #menu {
  color: var(--title-2-color);
  font-size: 30px;
}

.navbar .logo {
  width: 12rem;
}

.navbar.sticky {
  background-color: var(--boxColor);
  transition: 1s;
}

.navbar ul li a:focus {
  background-color: transparent;
}

.navbar ul li a {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--secendaryColor) !important;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--brand-color) !important;
}

.navbar .dropdown-menu {
  background-color: var(--boxColor) !important;
}

.navbar .dropdown-menu .dropdown-item {
  color: var(--title-2-color);
  background-color: var(--boxColor);
}
body.dark-mode .navbar .navbar-toggler >*,
body.dark-mode .nav-offcanvas .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);

}
.nav-offcanvas .offcanvas-title {
  height: 50px;
}
body.dark-mode .nav-offcanvas .offcanvas-title img {
  filter: brightness(100);
}
@media (max-width:767px){
  .navbar .logo {
    width: 11rem;
  }
  .navbar .navbar-brand {
    padding: 0;
  }
}
/*================== End navbar section ==================*/


/*================== start hero section ==================*/
.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-3 .hero {
  min-height: 150vh !important;
}


@media (max-width: 990px) {

  .home-1 .hero,
  .home-3 .hero,
  .home-rtl {
    margin-top: 80px;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
}


.hero .hero-text .title {
  line-height: 65px;
  font-size: 55px;
}

@media (max-width: 990px) {
  .hero .hero-text .title {
    line-height: 65px;
    font-size: 44px;
  }
}
@media (max-width:767px){
  .hero .hero-text .title {
    line-height: 45px;
    font-size: 30px;
  }
}

/* home 3 */

.home-3 .hero .hero-text .title {
  font-size: 50px;
  line-height: 65px;
}

.home-3 .hero .hero-text .icons .icon {
  background-color: var(--brand-color);
  color: var(--body-color);
  border-radius: 50%;
  margin-inline: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-3 .hero .hero-text .icons i {
  font-size: 20px;
}

.home-3 .hero .hero-images .hero-img {
  height: 500px;

}

.home-3 .hero .hero-images .hero-img img {
  border-radius: var(--border-radius);
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.home-3 .hero .hero-numbers .box-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-3 .hero .hero-numbers .box-number h2 {
  font-size: 55px;
  color: var(--brand-color);
  font-weight: bold;
  text-align: center;
}

.home-3 .hero .hero-numbers .box-number h6 {
  color: var(--secendaryColor);
  font-size: 18px;
  font-weight: 400;
}

/*================== end hero section =====================*/


/*============== Start About section ==========*/
.about .box .title-2 {
  text-transform: capitalize;
  font-size: 18px;
}

.about .box {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding: 15px;
}

.about .box i {
  font-size: 35px;
  color: var(--brand-color);
}

.about .bars {
  margin: 0;
  padding: 0;
}

@keyframes load {
  from {
    width: 0%;
  }

}

@-webkit-keyframes load {
  from {
    width: 0%;
  }
}

@-o-keyframes load {
  from {
    width: 0%;
  }
}

@-moz-keyframes load {
  from {
    width: 0%;
  }
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--boxColor);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
  animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

.progress-bar-fill.progress-bar-fill-1 {
  width: 70%;
}

.progress-bar-fill.progress-bar-fill-2 {
  width: 20%;
}

.progress-bar-fill.progress-bar-fill-3 {
  width: 55%;
}

.home-rtl .about .box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
}

/*============== End About section ==========*/

/*============== Start Services section ==========*/
.box-service .box-icon i {
  color: var(--brand-color);
  font-size: 4rem;
}

.home-2 .box-service {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-rtl .box-service {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.services .box-service a {
  display: flex;
  align-items: baseline;
}

.services .box-service a i {
  font-size: 18px;
  margin: 0 5px;
}

/*============== Start single-service section ==========*/
.single-service {
  margin-top: 6rem;
}

.service-side {
  height: fit-content;
}

.service-side .social .icon {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
}

.service-side .social .icon i {
  font-size: 18px;
  color: var(--bodyColor);
}

.single-service .service-box {
  height: fit-content;
}

.single-service .service-box h3 {
  font-size: 16px;
}

.single-service .service-box p {
  line-height: 26px;
  font-size: 14px;
}

.single-service .service-box i {
  font-size: 35px;
  color: var(--brand-color);
}

/*============== End single-service section ==========*/
/*============== End Services section ==========*/

/*============== Start Why us section ==========*/
.why-choose-us .box h1 {
  font-size: 50px;
  color: var(--brand-color);
  font-weight: bold;
}

/*============== End Why us section ==========*/

/*============== Start portfolio section ==========*/

.portfolio-btn {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: var(--secendaryColor);
  border: none;
  background-color: var(--bodyColor);
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.portfolio ul {
  margin: 0 !important;
  padding: 1rem 0 !important;
}

@media screen and (max-width: 768px) {
  .portfolio ul li a {
    font-size: 17px;
  }
}

.portfolio .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio .img-overlay .content {
  padding: 1.5rem;
  width: 100%;
  color: #c9e8d2;
  transition: all 0.3s ease-in-out;
}

.portfolio .img-overlay .content h3,
.portfolio .img-overlay .content h6 {
  color: #F9F9F9;
}

.portfolio .img-overlay>* {
  transform: translateY(40px);
  transition: transform 25ms;
}

.portfolio .img-overlay:hover>* {
  transform: translateY(0);
}

.portfolio .img-overlay:hover {
  opacity: 1;
}

.portfolio .img-overlay h3 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.portfolio .img-overlay h4 {
  padding: 7px 10px;
  color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C0E6;
  cursor: pointer;
}

.portfolio .img-overlay .tags span {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #1FA84F;
  margin: 0 .5rem;
}

.portfolio-btn .active,
.portfolio-btn:hover {
  color: var(--brand-color) !important;
}

.portfolio-item {
  transition: ease-in-out 50ms;
  position: relative;
}

.client-side {
  height: fit-content;
}

.client-side .box .icon {
  flex: 0.25;
}

.client-side .box .icon i {
  font-size: 45px;
  color: var(--brand-color);
}

.client-side .box .text {
  flex: 0.75;
}

.client-side .box .text h3 {
  color: var(--primaryColor);
  margin: 0;
  font-size: 18px;
}

.client-side .social .icon {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
}

.client-side .social .icon i {
  font-size: 18px;
  color: var(--bodyColor);
}

/*============== End portfolio section ==========*/

/*============== start clients section ==========*/

.clients {
  background-color: var(--boxColor);
}

.clients img {
  filter: grayscale(100%);
}

.clients img:hover {
  filter: grayscale(0);
}

/*============== End clients section ==========*/

/*============== Start numbers section ==========*/

.counter-up {
  padding: 60px 0;
  background-color: var(--dark-brand-color);
  color: #F9F9F9;
  text-align: center;
}

.home-3 .counter-up {
  background-color: transparent;
}

.counter-up .counter {
  font-size: 50px;
  font-weight: bold;
  color: var(--brand-color);
}

.counter-up .title-2 {
  color: #F9F9F9;
}

.counter-up i {
  font-size: 50px;
  color: var(--brand-color);
}

/*============== End numbers section ==========*/

/*============== Start pricing section ==========*/

.pricing .row .box {
  text-align: center;
  align-items: center;
}

#table3 {
  background-color: var(--brand-color);
  color: #F3F3F3;
}

#table3>.price {
  color: #F3F3F3;
}

#table3>h3,
#table3>ul li,
#table3>i {
  color: #d8d8d8;
}

.pricing .row .box ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#table3 .btn {
  background-color: var(--bodyColor);
  color: var(--brand-color);
}

#table3 ul li .bi-check2-circle {
  color: var(--dark-brand-color);
}

.pricing .row .box .price {
  font-size: 55px;
  font-weight: bold;
  color: var(--brand-color);

}

.pricing .row .box i {
  font-size: 55px;
  color: var(--secendaryColor);
}

.pricing .box ul li .bi {
  font-size: 18px;
  margin-right: 5px;
}

.pricing .box ul li .bi-check2-circle {
  color: var(--brand-color);
}

.pricing .box ul li .bi-x-circle {
  color: #864141;
}

.pricing ul li {
  color: var(--secendaryColor);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.pricing h3 {
  color: var(--secendaryColor);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.pricing .box .title-2 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bold;
}

/*============== End pricing section ==========*/

/*============== Start testimonials section ==========*/
.testimonials .box h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.testimonials i {
  color: #b8b800;
  font-size: 20px;
}
/*============== End testimonials section ==========*/



/*============== start team section ==========*/
.team-section {
}
.team-section .section-title {
	margin-bottom: 35px;
}
.single-team-box {
	margin-top: 30px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.team-image {
	position: relative;
	z-index: 1;
	border-radius: 3px;
	overflow: hidden;
}

.team-image::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.single-team-box:hover .team-image::before {
    opacity: .8;
    visibility: visible;
}

.single-team-box .team-image img {
	width: 100%;
	height: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.single-team-box:hover .team-image img {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.team-social-icon {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    width: 100%;
	text-align: center;
}

.team-social-icon a {
	display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	will-change: transform;
}

.team-social-icon a i {
	color:var(--brand-color);
    font-size: 18px;
    height: 40px;
    width: 38px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 2px;
}
.team-social-icon a i:hover {
	color: #ffffff;
	background-color: var(--brand-color);
}

.single-team-box:hover .team-social-icon a {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.team-info {
	padding: 20px 15px 0px;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.team-info h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}
.team-info span {
	color: var(--brand-color);
	font-size: 16px;
	font-weight: 500;
}
/*============== end team section ==========*/


/*============== Start blog section ==========*/


.blog h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--secendaryColor);
}

.home-rtl .blog .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

.blog .card i {
  font-size: 17px;
  color: var(--brand-color);
}

.blog .title-2 {
  font-size: 25px;
  line-height: 40px;
}
.blog .title-2 a {
  color: var(--primaryColor) !important;
  transition: all 0.3s ease-in-out;
}
.blog .title-2 a:hover {
  color: var(--brand-color) !important;
}

.blog .card {
  padding: 0 !important;
}

.blog .card img {
  border-radius: var(--border-radius);
}

.blog .card a {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--brand-color);
}

.blog .card a i {
  font-size: 18px;
  margin-inline: 5px;
}

.blog-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.blog-nav a {
  margin-inline: .5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--boxColor);
  color: var(--title-2-color);
  border-radius: 50%;
}

.blog-nav a.active,
.blog-nav a:hover {
  background-color: var(--brand-color);
}

/* =========== start blog single page ============ */

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
}

.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: var(--title-2-color);
  transition: 0.3s;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: var(--brand-color);
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.blog .entry .entry-meta a {
  color: var(--primaryColor);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}


.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}


.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: var(--brand-color);
  display: inline;
}

.blog .entry .entry-footer a {
  color: var(--secendaryColor);
  transition: 0.3s;
}


.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li+li::before {
  padding-right: 6px;
  color: var(--secendaryColor);
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--boxColor);
  border-radius: var(--border-radius);
}

.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}

.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: var(--title-2-color);
}

.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
  color: rgba(1, 41, 112, 0.5);
  margin-right: 5px;
}

.blog .blog-author p {
  color: var(--secendaryColor);
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
  width: 60px;
}

.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: var(--title-2-color);
  transition: 0.3s;
}


.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: var(--brand-color);
}

.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}

.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: var(--brand-color);
  margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 4rem;
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  color: var(--title-2-color);
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  background-color: var(--boxColor);
  border: none;
  outline: none;
  box-shadow: none;
}

.blog .blog-comments .reply-form textarea {
  box-shadow: none;
  outline: none;
  border: none;
  color: var(--title-2-color);
}

.blog .blog-comments .reply-form textarea:focus {
  background-color: var(--boxColor);
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 1rem;
}


.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  width: fit-content;
  background-color: var(--boxColor);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: var(--title-2-color);
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form {
  background-color: var(--boxColor);
}

.blog .sidebar .search-form form {
  background: var(--boxColor);
  border: 1px solid var(--boxColor);
  width: 100%;
  height: 100%;
  position: relative;
}

.blog .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form input[type=text]:focus {
  border: var(--boxColor);
  outline: none;
  box-shadow: none;
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: var(--brand-color);
  color: var(--bodyColor);
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog .sidebar .search-form form button i {
  line-height: 0;
  color: var(--bodyColor);
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li+li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: var(--title-2-color);
  transition: 0.3s;
}


.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: var(--secendaryColor);
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  height: 100%;
  float: left;
  border-radius: var(--border-radius);
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: var(--primaryColor);
  transition: 0.3s;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-size: 14px;
  color: var(--secendaryColor);
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: var(--brand-color);
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid var(--secendaryColor);
  display: inline-block;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
@media (max-width:767px){
  .blog .title-2 {
    font-size: 20px;
    line-height: 32px;
  }
}

/* =========== start blog single page ============ */

/*============== End blog section ==========*/

/*============== start FAQ section ==========*/
.faq .box h4 {
  color: var(--title-2-color);
  font-size: 20px;
  font-weight: 600;
}

.faq .box i {
  font-size: 25px;
  color: var(--brand-color);
}

.rotate-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate-icon.rotated {
  transform: rotate(180deg);
}

@media (max-width:767px){
  .faq .box h4 {
    font-size: 16px;
  }
}

/*============== End FAQ section ==========*/


/*============== Start contact section ==========*/
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--boxColor);
  border-radius: var(--border-radius);
  color: var(--title-2-color);
}

.contact form input:focus,
.contact form textarea:focus {
  background-color: var(--boxColor);
  box-shadow: none;
}

.contact .info i {
  font-size: 30px;
  color: var(--brand-color);
}

.contact .info h5 {
  color: var(--secendaryColor);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}


.contact-map {
  width: 100%;
  height: 400px;
  margin-top: 5rem;
}

.toast-success {
  background-color: #0d9700 !important;
  opacity: 1 !important;
}

.toast-error {
  background-color: #8b0500 !important;
  opacity: 1 !important;
}

.toast {
  border-radius: var(--border-radius) !important;
  color: #F9F9F9;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: none !important;
}
@media (max-width:767px){
  .contact-map {
    height: 280px;
    margin-top: 4rem;
  }
  .contact .info h5 {
    font-size: 17px;
  }
  .contact .info h5 i {
    margin-right: 12px !important;
    font-size: 25px;
  }
}

/*============== End contact section ==========*/




/*============== Start Footer section ==========*/
.subscribe-area {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(255, 255, 255, 0.2);
	line-height: 1.5;
}

.subscribe-content {
	text-align: left;
}

.subscribe-content p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	display: block;
	text-transform: capitalize;
}

.subscribe-content h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.newsletter-form {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.newsletter-form .input-newsletter {
	color: #404040;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	height: 50px;
	display: block;
	padding-left: 20px;
	border-radius: 3px;
	background-color: #ffffff;
	border: none;
	outline: 0;
}

.newsletter-form .input-newsletter::-webkit-input-placeholder {
	color: #5f5f5f;
}

.newsletter-form .input-newsletter:-ms-input-placeholder {
	color: #5f5f5f;
}

.newsletter-form .input-newsletter::-ms-input-placeholder {
	color: #5f5f5f;
}

.newsletter-form .input-newsletter::placeholder {
	color: #5f5f5f;
}

.newsletter-form button {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	border-radius: 3px;
	text-transform: capitalize;
	background-color: var(--brand-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border: none;
}

.newsletter-form button:hover {
	color: #ffffff;
	background-color: #ff9800;
}

 .footer-subscribe-wrapper {
	position: relative;
	z-index: 1;
	background-color: #031733;
}

.footer-subscribe-wrapper:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(../img/logo/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-heading {
	margin-bottom: 25px;
}


.single-footer-widget .footer-heading {
	margin-bottom: 25px;
}

.footer-area {
  padding-block: 70px;
}
.footer-area .footer-logo {
	display: inline-block;
	margin-bottom: 25px;
  height: 70px ;
}
.footer-area .footer-logo img {
  filter: brightness(100);
}

.footer-heading h3 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 0 0;
}


.single-footer-widget p {
	color: #ececec;
	font-size: 16px;
	font-weight: 400;
}

.single-footer-widget .footer-social {
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 0;
}

.single-footer-widget .footer-social li {
	display: inline-block;
	margin-right: 10px;
}

.single-footer-widget .footer-social li:last-child {
	margin-right: 0;
}

.single-footer-widget .footer-social a{
	color: var(--brand-color);
	font-size: 20px;
	height: 38px;
	width: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-footer-widget .footer-social a:hover {
	color: #ffffff;
	background-color: var(--brand-color);
}

.single-footer-widget .footer-quick-links {
	padding-left: 0;
	margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
	padding-bottom: 18px;
	list-style-type: none;
}

.single-footer-widget .footer-quick-links li:last-child {
	padding-bottom: 0;
}

.single-footer-widget .footer-quick-links li a {
	display: inline-block;
	color: #ececec;
	font-size: 15px;
	font-weight: 400;
}

.single-footer-widget .footer-quick-links li a:hover {
	color: var(--brand-color);
	text-decoration: underline !important;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-footer-widget .footer-info-contact {
	position: relative;
	padding-left: 35px;
	margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact:last-child {
	margin-bottom: 0;
}

.single-footer-widget .footer-info-contact i {
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
}

.single-footer-widget .footer-info-contact i::before {
	font-size: 20px;
}

.single-footer-widget .footer-info-contact h3 {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.single-footer-widget .footer-info-contact span {
	color: #ececec;
	font-size: 15px;
	font-weight: 400;
}

.single-footer-widget .footer-info-contact span a {
	font-size: 15px;
	color: #ececec;
	font-weight: 400;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-footer-widget .footer-info-contact span a:hover {
	color: var(--brand-color);
}

/********************************************
 ** - 30 - All Page Copyright Section CSS
 ********************************************/
.copyright-area {
	padding: 20px 0;
	background-color: #03142f;
	border-top: 1px solid rgb(255, 255, 255, 0.2);
}

.copyright-area p {
	color: #ffffff;
	font-size: 15px;
}

.copyright-area p a {
	display: inline-block;
	color: #ffffff;
	font-weight: 600;
}

.copyright-area p a:hover {
	color: var(--brand-color);
}
@media (max-width:767px){
  .single-footer-widget .footer-heading {
    margin-bottom: 20px;
  }
  .footer-area .single-footer-widget {
    margin-top: 10px;
  }
  .footer-area {
    padding-block: 50px ;
  }
}

/*============== End Footer section ==========*/


/*============== start fee page ==========*/

.fees .card {
  background-color: var(--card-bg);
  border-radius: 14px;
  box-shadow: 0px 10px 60px 0px #262D7614;
  padding-bottom: 7px;
  border: 0px !important;
}

.fees .card-img-top {
  height: 171px;
  width: 100%;
  padding-top: 17px;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  border-bottom: 1px solid var(--secendaryColor);
}

.fees .card-img-top img {
  height: 100%;
}

.fees .card-body {
  padding-left: 17px;
  padding-top: 16.79px;
}

.fees .card-body-top {
  padding-right: 14.8px;
}

.fees .card-title {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.38804346323013306px;
  text-align: left;
  margin-bottom: 7.41px;
}

.fees .card-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--secendaryColor);
  margin-bottom: 0px;
  height: 31px;
}

.fees .card-body-top div {
  margin-top: 15px;
  width: 88px;
  height: 25px;
  border-radius: 40px;
  border: 1px solid var(--secendaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.fees .new-price {

  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  color: var(--black);
  margin-right: 4px;
}

.fees .old-price {

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #999494;
  text-decoration: line-through;
  text-decoration-color: #FF0000;
}

.fees .card-end {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  /* padding-right: 17px; */
}

.fees .card-end a {
  width: 102px;
  height: 34px;
  padding: 8px, 20px, 8px, 20px;
  border-radius: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 0px !important;
  background-color: var(--brand-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

/* Fees Structure */
/*============== End fee page  ==========*/


/* ================= start 404 page ===================== */
.fzf {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
}

.fzf .content {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fzf .content img {
  width: 70%;
}

.fzf .content h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  margin-block: 1rem;
}

/* ================= end 404 page ===================== */

/* ================= start login page + register page  ===================== */

.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth input {
  border: 0;
  outline: 0;
  margin-block: .5rem;
}

/* ================= end login page + register page  ===================== */




/* faq section start  */
.faq-section .accordion {
  gap: 8px;
}
.faq-section .accordion-button {
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
}
.faq-section .accordion-button .faq-count {
  height: 43px;
  min-width: 43px;
  max-width: 43px;
  border:1px dashed var(--brand-color);
}
.faq-section .accordion-button::after {
  display: none;
}
.faq-section .accordion-button:not(.collapsed) {
  background-color: rgba(197, 197, 197, 0.234);
  color: var(--brand-color);
}
.faq-section .accordion-button,
.faq-section .accordion-body {
  padding: 12px;
}
.faq-section .accordion-item {
  border-radius: 8px;
}
.faq-section .accordion-body p {
  color: var(--black);
  margin-bottom: 0;
}
/* faq section end */


/* course detail section start */
.course-detail-section {}
.course-detail-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.course-detail-card p {
  color: #000;
}
.course-detail-card h3 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 700;
}
.course-detail-card ul {
  list-style: disc;
  padding-left: 22px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.course-detail-card li {
  font-size: 15px;
  color: #000;
}
.course-detail-card .medule-list .medule-data {
  font-size: 17px;
  font-weight: 600;
}
.course-detail-card .medule-list li span {
  color: var(--brand-color);
}
/* course detail section end */